## functions
export(
propagate,
makeGrad,
makeHess,
evalDerivs,
mixCov,
cor2cov,
statVec,
skewness,
kurtosis,
fitDistr,
colVarsC,
rowVarsC,
contribution,
makeDat,
numGrad,
numHess,
predictNLS,
WelchSatter,
bigcor
)

importFrom(ff, ff)
importFrom(MASS, mvrnorm)
importFrom(tmvtnorm, rtmvt)
importFrom(Rcpp, sourceCpp)
importFrom(minpack.lm, nls.lm)

## S3 methods
S3method(print, propagate)
S3method(plot, propagate)

useDynLib(propagate)