## functions
export(
propagate,
makeGrad,
makeHess,
evalDerivs,
makeGrad,
makeHess,
mixCov,
cor2cov,
statVec,
skewness,
kurtosis,
fitDistr,
colVarsC,
rowVarsC,
contribution,
makeDat,
numGrad,
numHess,
predictNLS,
WelchSatter,
bigcor,
interval
)

importFrom("ff", ff)
importFrom("MASS", mvrnorm)
importFrom("tmvtnorm", rtmvt)
importFrom("Rcpp", sourceCpp)
importFrom("minpack.lm", nls.lm, nls.lm.control)

## S3 methods
S3method(print, propagate)
S3method(plot, propagate)
S3method(summary, propagate)
S3method(print, interval)

useDynLib(propagate)